@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/****** FONT *****/

body {
  font-family: 'Roboto', sans-serif;
}

.hero-image {
  height: 100vh;
  width: 100vw;
  background-image: url('../winterMountainLandscape.jpg');
  background-position: center;
  background-size: cover;
  display: grid;
}

nav {
  width: 100vw;
  height: 10vh;
  background-color: lightgrey;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  margin-top: 1rem;
}

nav a {
  padding: 1rem;
  color: black;
}

nav a:hover {
  
  transform: .3s;
  color: darkslategrey;
}



















/************************************** OLD ***********************************************/


/* img {
  display: block;
}

.card {
  width: 75vw;
  display: grid;
  margin: auto;
  border: 1px solid white;
}

fieldset {
  display: grid;
  justify-items: center;
  height: 50vh;
  border: none;
  background-color: rgba(250, 250, 210, .5);
}

.owl-logo {
  height: 5em;
  width: 5em;
  margin: auto;
}

 */
