
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*********** FONT **********/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* background image */

.hero-image {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/winterMountainLandscape.jpg');
  background-position: center;
  background-size: cover;
  display: grid;
}

/*********** TOP NAV BAR **********/

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(215,217,215, .5);
}

nav a {
  padding: 1rem;
  color: black;
  display: block;
}

nav a:hover {
  color: slategrey;
  transition: .1s;
}

/*********** FORM SECTION **********/

.owl-logo {
  height: 5em;
  width: 5em;
  margin: auto;
  grid-row-end: 2;
}

fieldset {
  border: none;
  background-color: rgba(250, 250, 210, .6);
}

legend {
  margin: auto;
}

/*  Places the owl logo in relation to .card  */

.card {
  width: 75vw;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 2.7rem ;
}

.grid {
  margin: auto;
  margin-top: 40px;
  display: grid;
  gap: .25rem;
}

/*********** FORM INPUT BUTTONS **********/

.submit-button {
  /* color: lime; */
  border-radius: 10px;
  border: 2px rgb(255, 189, 51) solid;
  width: 25vw;
  margin: 1rem auto;
  cursor: pointer;
}

.submit-button:hover {
  color: slategrey;
  transition: .1s;
}

.sign-up {
  border: 1px black solid;
  background: whitesmoke;
  color: black;
  width: 25vw;
  border-radius: 10px;
  text-align: center;
}

.sign-up:hover {
  color: slategrey;
  transition: .1s;
}

.grid p, .sign-up {
  margin: auto;
}

/************************************** MEDIA QUERIES ***********************************************/

@media (min-width: 600px) and (orientation: landscape) {

  body {
    font-size: initial;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(7, auto);
  }

   legend {
    grid-column: 1 / 3;
  } 
 
/* USERNAME CELL */

  label[for="username"],
  #username {
    place-self: center;
  }

  label[for="username"] {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #username {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  /* EMAIL CELL */

  label[for="email"],
  #email {
    place-self: center;
  }

  label[for="email"] {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
  }

  #email {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
  
  /* PASSWORD CELL */

  label[for="password"],
  #password {
    place-self: center;
  }

  label[for="password"] {
    grid-column: 1 / 2;
    grid-row: 5 / 6; 
  }

  #password {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
  }

  /* CONFIRM PASSWORD CELL */
  
  label[for="confirmPassword"],
  #confirmPassword {
    place-self: center;
  }

  label[for="confirmPassword"] {
    grid-column: 1 / 2;
    grid-row: 7 / 8; 
  }

  #confirmPassword {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }

  /* UPLOAD CELL */

  label[for="file"],
  #file {
    place-self: center;
  }

  label[for="file"] {
    grid-column: 2 / 3;
    grid-row: 5 / 6; 
  }

  #file {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    margin: auto;
    padding-left: 32px;
  }

  .submit-button {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
  }
}


